name: imagenet_resnext50_stage2_mislas
print_freq: 100
workers: 48
log_dir: 'logs'
model_dir: 'ckps'


# dataset & model setting
dataset: 'imagenet'
data_path: '../data/ImageNet/'
num_classes: 1000
imb_factor: null
backbone: 'resnext50_32x4d_fe'
resume: 'Path/to/Stage1_checkpoint.pth.tar'
head_class_idx:
  - 0
  - 390
med_class_idx:
  - 390
  - 835
tail_class_idx:
  - 835
  - 1000


# distributed training
deterministic: False
distributed: False
gpu: null
world_size: -1
rank: -1
dist_url: 'tcp://224.66.41.62:23456'
dist_backend: 'nccl'
multiprocessing_distributed: False


# Train
mode: 'stage2'
smooth_head: 0.3
smooth_tail: 0.0
shift_bn: True
lr_factor: 0.05
lr: 0.1
batch_size: 256
weight_decay: 5e-4
num_epochs: 10
momentum: 0.9
mixup: False
alpha: null




